<md-card>
  <div class="row text-center">
    <div class="col-md-8">
      <ng2-dropdown>
        <ng2-dropdown-button>
          {{selectedGenre}}
        </ng2-dropdown-button>
        <ng2-dropdown-menu>
          <ng2-menu-item *ngFor="let genre of genres" (click)="setSelectedGenre(genre.name)">
            {{genre.name}}
          </ng2-menu-item>
        </ng2-dropdown-menu>
      </ng2-dropdown>
    </div>

    <div class="col-md-4">
      <md-input placeholder="Votes" type="number" min="0">
        {{votes}}
      </md-input>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4">
      <md-input placeholder="Imdb" type="number" min="0" max="10">
        {{imdb}}
      </md-input>
    </div>
    <div class="col-md-4">
      <md-input placeholder="Tomatometer" type="number" min="0" max="100">
        {{tomatometer}}
        <span md-suffix>%</span>
      </md-input>
    </div>
    <div class="col-md-4">
      <md-input placeholder="Metacritic" type="number" min="0" max="100">
        {{metacritic}}
      </md-input>
    </div>
  </div>
</md-card>

<div id="alert">
  <alert type="danger" *ngIf="showAlert">
    <strong>Select genre</strong>
  </alert>
</div>
