<md-input placeholder="Title"></md-input>
<button md-raised-button color="warn">
  <md-icon>search</md-icon>
</button><br>

<md-input placeholder="Select genre" [value]="selectedGenreName" disabled></md-input>

<button md-icon-button [md-menu-trigger-for]="menu">
  <md-icon>more_vert</md-icon>
</button>

<md-menu #menu="mdMenu">
  <button md-menu-item *ngFor="let genre of genres" (click)="setGenreInput(genre.name)">{{genre.name}}</button>
</md-menu><br>

<md-input placeholder="IMDB user score"></md-input><br>
<md-input placeholder="Metacritic core"></md-input><br>
<md-input placeholder="Tomatometer score"></md-input>
