<div class="center-block">
  <md-input id="title-input" placeholder="Title" [disabled]="isInputDisabled" [(ngModel)]="title"></md-input>

  <button md-icon-button (click)="showAdvancedSearch()">
    <md-icon>keyboard_arrow_down</md-icon>
  </button>

  <button md-mini-fab color="primary" (click)="findMovie()">
    <md-icon>search</md-icon>
  </button>
  <br>

  <app-advanced-search *ngIf="advancedSearchVisible"></app-advanced-search>

  <div id="alert">
    <alert type="danger" *ngIf="showAlert">
      <strong>Title or genre must be not empty</strong>
    </alert>
  </div>
</div>
