<accordion *ngIf="movies || movie" [closeOthers]="oneAtATime">
  <div *ngIf="movies" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500"
       (scrolled)="onScroll()">
    <accordion-group *ngFor="let m of movies" [heading]="m.title">
      <app-information [movie]="m"></app-information>
    </accordion-group>
  </div>

  <accordion-group *ngIf="movie" [heading]="movie.title">
    <app-information [movie]="movie"></app-information>
  </accordion-group>
</accordion>

<md-progress-circle *ngIf="inProgress" mode="indeterminate" color="primary"></md-progress-circle>

<div id="movie-not-found-alert">
  <alert type="danger" *ngIf="showAlert">
    <strong>Movie not found</strong>
  </alert>
</div>
